<p>(<%= @comment.vote_sum %>) Comment by: <%= @comment.author.username %></p>
<p><%= @comment.content %></p>

<%= button_to 'Upvote', comment_upvote_url(@comment), method: :post %>
<%= button_to 'Downvote', comment_downvote_url(@comment), method: :post %>

<form action="<%= comments_url + "?post_id=#{@comment.post_id}&parent_comment_id=#{@comment.id}" %>"
      method="post">
  <%= auth_token %>
  <label>Comment:
    <br>
    <textarea name="comment[content]" rows="5" cols="50"></textarea>
  </label>
  <br>
  <input type="submit" value="Add Comment">
</form>
